.topContainer {
  /* border: 1px solid black; */
  box-shadow: 2px 2px 10px 10px rgb(238, 238, 238);
  /* border-radius: 50px; */
  /* background-color: aqua; */
  margin: 0px 10px;
  /* overflow-x: scroll; */
  width: 100%;
}

.bigContainer {
  width: 100%;
}

.upperRow {
  background-color: #9acc54;
  /* padding: 50px 10px; */
  margin: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 0px;
  /* border-radius: 5px; */
  flex-wrap: nowrap;
  width: 100%;
}

.row {
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
  padding: 10px 0px;
  flex-wrap: nowrap;
}

.secondRow {
  /* margin-top: -30px; */
  margin-right: 0;
  margin-left: 0;
  padding: 10px 0px;
}

.spanContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 18px;
  margin: 8px 0px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.spanContainer:hover {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #9acc54;
  text-align: center;
  border-radius: 5px;
  padding: 5px 18px;
  margin: 8px 0px;
  font-weight: bold;
}

.col {
  display: flex;
  flex: 0.8;
  text-align: center;
  padding: 6px 0;
  /* border-right: 1px solid #000; */
  flex-direction: column;
}

.column {
  display: flex;
  flex: 0.8;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* padding: 6px 0; */
  /* border-right: 1px solid #000; */
  /* flex-direction: column; */
  /* margin-top: 15px; */
}
.column2 {
  display: flex;
  flex: 0.8;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* padding: 6px 0; */
  /* border-right: 1px solid #000; */
  /* flex-direction: column; */
  /* margin-top: 15px; */
}

.col1 {
  display: flex;
  flex: 1;
  text-align: center;
  /* padding: 10px 0px 0px 0px; */
  /* border-right: 1px solid #000; */
  flex-direction: column;
}

.colButton {
  display: flex;
  flex: 2;
}

.colBot {
  flex: 2;
  justify-content: flex-end;
  display: flex;
}

.colButton>span {
  border: 1px solid #9acc54;
  padding: 2px 5px;
  border-radius: 2px 7px;
  color: white;
  background-color: #9acc54;
}

.colPlans {
  display: flex;
  flex: 1;
  text-align: left;
  /* padding: 10px 0px 0px 0px; */
  /* border-right: 1px solid #000; */
  flex-direction: column;
}

.col2 {
  display: flex;
  flex: 2.3;
  text-align: left;
  /* padding: 5px 0px 0px 10px; */
  /* border-right: 1px solid #000; */
  flex-direction: column;
}

.col3 {
  display: flex;
  flex: 0.7;
  justify-content: flex-end;
  text-align: center;
  /* padding-top: 10px; */
  position: relative;
  /* justify-content: flex-end; */
  align-items: center;
  /* padding-left: 30px; */
  /* border: 1px solid black; */
  /* margin-left: -10px; */
  /* padding: 10px 0px 0px 0px; */
}

.leftArrow2 {
  display: flex;
  justify-content: flex-end;
  flex: 3;
  /* padding: 0; */
}

.leftArrow2>Row {
  margin-left: 0;
  margin-right: 0;
}

.columnDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
  flex: 0.8;
}

.leftArrow {
  flex: 3;
  font-size: 50px;
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
}

.rightArrow {
  display: flex;
  color: white;
  flex: 1;
  justify-content: flex-start;
  font-size: 50px;
  align-items: center;
}

.rightArrow2 {
  flex: 1;
  display: flex;
}

.image {
  height: 50px;
  width: 100px;
}

.text {
  font-size: 12px;
  padding: 0px 20px 0px 10px;
}

.btn {
  background-color: rgb(5, 41, 67);
  color: white;
  border: 1px solid rgb(5, 41, 67);
  border-radius: 5px;
  margin-top: 10px;
  width: 90px;
  height: 30px;

  /* align-items: center; */
}

.span {
  text-align: center;
  font-size: 13.5px;
  /* margin-bottom: 10px; */
}

.bottomContainer {
  margin: 30px;
}

.topRow {
  border: 1px solid black;
}

.roomHeading {
  display: flex;
  flex: 2;
}

.roomAvail {
  display: flex;
  flex: 1.2;
}

.rates {
  display: flex;
  flex: 0.8;
}

.rates2 {
  display: flex;
  flex: 1.7;
}

.popupModal {
  position: absolute;
  color: white;
  padding-top: 7px;
  background-color: rgb(5, 41, 67);
  top: -155px;
  bottom: 45px;
  left: 65px;
  right: -150px;
  border-radius: 10px;
}

.popupModal>div {
  display: flex;
  justify-content: space-between;
  padding: 2.5px 20px;
}

.moreInfo {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalBody {
  display: flex;
  gap: 20px;
  padding: 2.5px 20px;
}

.modalBodyText {
  color: gray;
  width: 100%;
}

.modalContainer {
  margin: 10px 10px;
}

.modalCol {
  display: flex;
  text-align: center;
  padding: 6px 5px;
  /* border-right: 1px solid #000; */
  flex-direction: column;
  border: 1px solid black;
  flex-wrap: wrap;
}

.modalCol2 {
  display: flex;
  flex: 1.5;
  text-align: center;
  /* padding: 10px 0px 0px 0px; */
  /* border-right: 1px solid #000; */
  flex-direction: column;
}

.modalColBody {
  display: flex;
  gap: 2px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box>* {
  flex: 1 1 220px;
  padding: 7px 20px;
}

.logo {
  width: 1.2vw;
}

.firstOuterColumn {
  flex: 2.5;
  align-items: center;
  display: flex;
}

.secondOuterColumn {
  display: flex;
  align-items: center;
  flex: 9.5;
}

.shopBtn {
  position: relative;
  background-color: #9acc54;
  color: #fff;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px 5px;
  cursor: pointer;
}

.shopBtn>.shopModal {
  display: block;
  position: absolute;
  top: 50px;
  padding: 10px 0;
  left: 0;
  background-color: #fff;
  color: black;
  list-style: none;
  width: 240px;
  z-index: 20;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgb(231, 231, 231);
}

.shopBtn>.shopModal>li {
  padding: 8px 8px;
  margin: 3px 6px;
  border-radius: 6px;
}

.shopBtn>.shopModal>li:hover {
  background-color: #9acc54;
  color: #fff;
  box-shadow: 0 6px 8px 0 rgb(209, 207, 207);
}

.infoIcon {
  position: absolute;
  top: -20px;
  right: 12px;
}

@media screen and (min-width: 1200px) {
  .column2 {
    max-width: 7vw;
  }
}

@media screen and (max-width: 1200px) {
  .topContainer {
    /* margin: 1.5vh; */
    width: 330%;

  }

  .bigContainer {
    overflow-x: scroll;
    max-width: 100%;

  }

  .columnDate {
    max-width: 20vw;
  }

  .popupModal {
    position: absolute;
    color: white;
    padding-top: 7px;
    background-color: rgb(5, 41, 67);
    top: -155px;
    bottom: 45px;
    left: 65px;
    right: -150px;
    border-radius: 10px;
  }

  .popupModal>div {
    display: flex;
    justify-content: space-between;
    padding: 2.5px 20px;
  }

  .firstOuterColumn {
    max-width: 70vw;
    padding-left: 0px;
  }

  .secondOuterColumn {
    display: flex;

  }

  .image {
    margin-left: 10px;
  }

  .column {
    max-width: 20vw;
  }
  .column2 {
    max-width: 20vw;
  }
  

  /* 
  .upperRow{
    flex-wrap: nowrap;
  }
  .row{
    flex-wrap: nowrap;
    margin-top: 0;
    margin: 6vh 0px;
  } */

  /* .secondOuterColumn::-webkit-scrollbar {
    width: 10px;
    height: 3px;
  }
  
  .secondOuterColumn::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(198, 198, 198);
    border-radius: 20px;
  }
  
  .secondOuterColumn::-webkit-scrollbar-thumb {
    background: rgb(234, 234, 234);
    border-radius: 10px;
  }
  .leftArrow2{
    flex-direction: column-reverse;
  }
  .columnDate{
    min-width: 20vw;
  }
  .column{
    min-width: 20vw;
  }
  .col1{
    padding: 1vh;
  }
  .col2{
    right: 1vh;
    bottom: 2vh;
    padding: 1vh;
  }
  .col3{
    padding: 1vh;
    padding-top: 0;
  }
  .image{
    height: 16vh;
    width: 28vw;
  }
  .rightArrow > svg{
    margin-top: 3vh;
  }
  .text{
    font-size: 2.2vh;
  } */
}