.dates{
    display: flex;
    flex-wrap: wrap;
    right: 0;
}
.design{
    border: black;
    border-right: groove;
    border-left: groove;
    padding-left: 10px ;
    padding-right: 10px ;
    font-size: 10px;
    margin-left: -3px;
}
.container{
    border:groove;
}